@use "../SASS/Main" as *;


.main{
    position: relative;
    @include size(100dvw ,100dvh);
    background-color: $blue-6;
    overflow: hidden;
    @include flex(center,center);

}
.mainPage{
    @include size(80vw , 90vh);
    @include flex(start,center);
    z-index: 5;

    @include screen(lg){        
        @include flex-col(start,end);
        @include size(100% , 100%);
        overflow: scroll;    
        scroll-behavior: smooth;
    }
}

.cover{    
    @include flex(start,center);
    @include size(500px, 100%);
    z-index: 6;

    @include screen(lg){ 
        @include flex(start,start);
        position: relative;       
        @include size(80% , 100%);
        margin-top: 10px;
    }
    @include screen(xsm){
        @include size(100% , 100%);
        margin-top: 0px;
    }
}
.pages{
    position: relative;
    @include size(800px, 100%);
    @include flex(center,center);

    @include screen(lg){        
        @include flex-col(start,start);
        @include size(80% , 100%);
        margin-top: 10px;
    }
    @include screen(xsm){
        @include size(100% , 100%);
        margin-top: 0px;
    }
}

/*========================
    show and hide pages
=========================*/

.show{
    transform: rotate(0deg);
    opacity: 1;
    z-index: 4;
}
.hide{
    z-index: 4;
    animation: change 0.8s linear 1;
    opacity: 0;
}
@keyframes change {
    0%{
        ransform-origin: left bottom;
        transform: rotate(0deg);
        opacity: 1;
    }
    100%{
        transform-origin: left bottom;
        transform: rotate(-80deg);
        width: 10vw;
        opacity: 0;
    }
}